@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body, h2, h4, p, pre, ul {
  margin: 0;
  padding: 0
}

body {
  font: 400 16px/1.5 'Open Sans', Georgia, "Times New Roman", serif;
  color: #000;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal
}

.highlight, h2, h4, pre, ul {
  margin-bottom: 15px
}

p {
  text-align: justify
}

img {
  max-width: 100%;
  vertical-align: middle
}

ul {
  margin-left: 30px
}

h2, h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}

a {
  color: #3B3B98;
  text-decoration: none
}

a:visited {
  color: #3B3B98;
}

a:hover {
  color: #000;
}

.social-media-list a:hover {
  text-decoration: none
}

code, pre {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #FFFCE3
}

code {
  padding: 1px 5px
}

pre {
  padding: 8px 12px;
  overflow-x: auto
}

pre>code {
  border: 0;
  padding-right: 0;
  padding-left: 0
}

.wrapper p {
  margin-bottom: 15px
}

.page-wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px
}

@media screen and (max-width:800px) {
  .page-wrapper {
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px
  }
}

.abstract-wrapper:after, .author-col-wrapper:after, .page-wrapper:after {
  content: "";
  display: table;
  clear: both
}

.icon>svg {
  display: inline-block;
  vertical-align: middle
}

.icon>svg path {
  fill: #828282
}

.social-media-list .icon {
  padding-right: 5px
}

.social-media-list li {
  display: inline-block
}

.pdf-wrapper {
  display: inline-block
}

.pdf {
  text-align: center;
  float: left;
  font-size: 15px;
  width: calc(100% / 3)
}

.pdf img {
  display: block;
  box-shadow: 0 0 10px #828282;
  transition: transform .2s, -ms-transform .2s, -webkit-transform .2s, box-shadow .2s;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px
}

.pdf img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0 0 15px #828282;
  z-index: 2
}

.pdf .icon {
  display: block;
  margin-bottom: 10px
}

.pdf .icon svg {
  width: 65%;
  height: auto;
  transition: transform .2s, -ms-transform .2s, -webkit-transform .2s
}

.pdf .icon svg:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 2
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0
}

.social-media-list {
  list-style: none;
  margin-left: 0
}

.page-content {
  padding-bottom: 30px
}

.page-header {
  text-align: center;
  padding: 0 30px;
  font-size: 20px
}

.page-header h2 {
  margin-bottom: 0
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 5px solid #3B3B98;
}

.author-col {
  font-size: 15px;
  color: #828282;
  text-align: center;
  float: left
}

.author-col .social-media-list svg {
  width: 16px
}

.author-col-1 {
  width: calc(100% / 4)
}

.author-col-2 {
  width: calc(100% / 4)
}

.author-col-3 {
  width: calc(100% / 4)
}

.author-col-4 {
  width: calc(100% / 4)
}

.profile {
  border-radius: 50%;
  width: 75%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #828282;
  transition: transform .2s, -ms-transform .2s, -webkit-transform .2s, box-shadow .2s
}

.profile:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0 0 15px #828282;
  z-index: 2
}

@media screen and (max-width:800px) {
  .profile {
    width: 20%
  }
}

@media screen and (max-width:600px) {
  .profile {
    width: 40%
  }
}

.highlight {
  background: #fff
}

.highlighter-rouge .highlight {
  background: #FFFCE3
}

.page-title {
  margin-top: 15px;
  font-size: 35px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.video-wrapper {
  width: 760px;
  margin-left: 5px;

}
